/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

p {
  text-align: justify;
  margin-left: 15px;
  margin-right: 15px;
}

img {
  display: block;
  margin: auto;
  border-radius: 1px;
  max-width: 100%;
  width: 100%;
  height: auto;
}

h1 {
  text-align: center;
  padding: 9px;
}

.border-left {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: black;
}

.border-right {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: black;
}

.debug-border {
  border: 0px solid black;
}

.d-header {
  margin-left: 15%;
  margin-right: 15%;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 400;
  background-color: rgb(254, 217, 40);
  transition: background-color 0.2s ease-in-out 0s;
  max-width: 100%;
  width: auto;
}

.detail-header {
  margin-left: 15%;
  margin-right: 15%;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 400;
  background-color: rgb(247, 246, 241);
  transition: background-color 0.2s ease-in-out 0s;
}

.hero-cover {
  background: url("https://raster-static.postmates.com/?url=https%3A%2F%2Fbuyer-static-gcp.postmates.com%2Fdist%2Fprod%2Fcollection-feed-header-refresh.ff66a93edfd10817d088e6b48bbb80cbedc459960022385bbdf8141e74de7c68c092f2444e22133303ff25dc3e90131d9a4474fd8a4fd1874ca7af56840d0170.jpg&quality=85&w=3200&h=0&mode=auto&format=webp&v=4");
  margin-left: 3%;
  background-attachment: scroll;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 3%;
  transition: opacity 0.4s linear;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
}

.detail-cover {
  background-image: url("https://raster-static.postmates.com/?url=com.postmates.img.prod.s3.amazonaws.com%2Fcbf49434-6c68-4947-862a-99b66fb2a01b%2Forig.jpg&quality=85&w=1500&h=0&mode=auto&format=webp&v=4");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s linear 0s;
}

.fill-background {
  background-color: rgb(254, 217, 40);
}

.fill-background-detail {
  background-color: rgb(247, 246, 241);
}

[class~="card"] {
  margin-bottom: 15px;
  margin-top: 15px;
}

.price {
  color: rgb(0, 204, 153);
}

.d-button {
  letter-spacing: 0.72px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: normal;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #000;
  background-color: transparent;
  height: 32px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 16px;
  cursor: pointer;
  white-space: nowrap;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
  min-width: 86px;
  margin-right: 10px;
  font-size: 12px;
}

.d-button:hover {
  background-color: rgba(45, 49, 56, 0.03);
  border-color: rgba(45, 49, 56, 0.03);
  color: black;
}

.d-search {
  border-radius: 0px;
  appearance: none;
  font-size: 16px;
  letter-spacing: 0.14px;
  font-weight: 400;
  font-family: inherit;
  width: 100%;
  caret-color: rgb(0, 0, 0);
  color: rgb(45, 49, 56);
  -webkit-box-flex: 1;
  flex-grow: 1;
  line-height: normal;
  padding: 16px;
  opacity: 1;
  transition: opacity 50ms ease-in-out 0s;
  max-width: 380px;
  box-shadow: none !important;
  background-color: transparent;
  border-color: rgba(45, 49, 56, 0.03);
}

.d-search:hover,
.d-search:focus {
  box-shadow: none !important;
  background-color: transparent;
  border-color: rgba(45, 49, 56, 0.03);
}

.nav-link {
  font-size: 1rem;
}

.fix-to-top {
  margin-top: 0;
  padding-top: 0;
  top: -1px;
}
