<div id="mySidenav" class="d-sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="close()"> &times; </a>
  <ul>
    <!-- {items &&
        items.map((i, idx) => {
          return (
            <li>
              <span
                class="mr-2 btn btn-outline-danger btn-link"
              >
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </span>
              <span class="p-0">{{i.title + " " + i.price + "€"}}</span>{" "}
            </li>
          );
        })} -->
  </ul>
  <span>Totale: €</span>
</div>
