<div class="row mt-5">
  <div class="mx-auto col-12" style="max-width: 97%">
    <div class="row">
      <div class="col-6">
        <small class="text-muted text-uppercase">Free Delivery</small>
      </div>
      <div class="col-6"></div>
    </div>

    <h3>{{ name }}</h3>
    <div class="row mx-auto">
      <div class="col-6 m-0 p-0">
        <span class="ml-1 text-uppercase badge badge-pill badge-secondary">
          35-45 Minutes
        </span>
        <span class="ml-1 text-uppercase badge badge-pill badge-secondary">
          95 Delancay st
        </span>
        <span class="ml-1 text-uppercase badge badge-pill badge-secondary">
          More Info
        </span>
      </div>
      <div
        class="col-6 m-0 p-0 mr-auto mt-2 mt-lg-0 justify-content-end"
        style="margin-left: 60%"
      >
        <button
          class="btn btn-outline-success my-2 my-sm-0 text-uppercase d-button"
          (click)="openCartList()"
        >
          Cart
        </button>
      </div>
    </div>
  </div>
</div>
